@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}


a {
  text-decoration: none;
  color:rgb(98, 216, 187);
}

button{
  text-align: center;
  border: none;
  float: right;
  height: 20px;
  width: 20px;
}

body {
  background-color: rgb(58, 58, 58);
  color: rgb(173, 172, 172);
  background-size: auto;
  font-family: 'Open Sans', arial, sans-serif;
  align-items: center;
  box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);
}

img {
  width: 250px;
  height: 250px;
}

/*
Header
*/

#header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(8, 8, 8,.5);
  color:rgb(72, 121, 124);
  font-size: 12px;
  width: 100%;
  padding: 1em;
  margin-left: -10px;
  margin-top: -10px;
}

.headerLinks {
  display: flex;
  align-self: flex-end;
}

.linkItem {
  justify-content: space-between;
  padding: 10px;
}

#headerCart{
  height: 40px;
  width: auto;
}

/*
Footer
*/

#footer {
  width: 100vw;
  height: 5em;
  position: bottom;
  margin-left: -1em;
  text-align: center;
  padding-top: 2em;
  background-color: rgb(8, 8, 8);
}

/*
HomePage
*/

.plateContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.singlePlate {
  font-family: 'Gill Sans';
  width: 250px;
  height: auto;
  padding: 5px;
  margin: 10px;
  color: white;
  background-color: rgb(8, 8, 8);
}

#cartButton {
  width: 30px;
  height: 20px;
}

/*
Item Description Popup
*/

.buttonDisabled {
  height: 50px;
  width: 100px;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#itemDescriptionContainer {
  position: fixed;
  background-color: rgb(8, 8, 8);
  color:rgb(72, 121, 124);
  font-weight: bold;
  width: 80%;
  top: 20%;
  left: 10%;
  padding: 10px;
  box-shadow: 0 8px 6px -6px black;
  font-size: 1em;
}

#itemDescriptionHeader {
  display: flex;
  justify-content: space-between;
}

#itemDescriptionBody {
  display: flex;
  justify-content: space-between;

}

#itemDescriptionCenter {
  display: flex;
  justify-content: center;
  width: 70%;
}

#itemDescriptionCenterQuantity {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

.addToCart {
  height: 50px;
  width: 100px;
  color: white;
  background-color: darksalmon;
  font-family: Arial, Helvetica, sans-serif;
}
/*
Cart
*/
#cartContainer{
  position: fixed;
  width: 90%;
  height: 500px;
  overflow: scroll;
  margin: 5px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#cartSubTotal{
  margin-top: 5%;
  margin-left: 70%;
  color: #5E6977;
  font-weight: bolder;

}

.cartTitle {
  height: 20px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 16px;
  font-weight: bolder;
}

#cartEmpty{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20%;
}

.cartItem{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cartProceedButton{
  height: 40px;
  color: white;
  width: 200px;
  background-color: rgb(12, 29, 29) ;
  border-radius: 20px;
  margin-right: 16%;
  margin-top: 1%;
}

/*
CartItem
*/

.itemTitle{
  width: 100px;
}

.itemPrice{
  width: 100px;
  color: #5E6977;
  font-weight: bolder;
}

.cartImg{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/*
Checkout
*/

.orderSubmitted {

  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20%;
}
.submitOrderButton{
  height: 40px;
  color: white;
  width: 200px;
  background-color: rgb(12, 29, 29) ;
  border-radius: 20px;
  margin-right: 16%;
  margin-top: 1%;
}

.checkoutNoSignIn{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  align-items: center;
  margin-left: 20%;
  border-left: 1px solid #E1E8EE;
}

#checkoutContainer{
  background-color: white;
  position: fixed;
  border-radius: 6px;
  width: 90%;
  height: 550px;
  overflow: scroll;
}

#checkoutBody{
  display:flex;
  justify-content: space-between;
  background-color: white;
}

.signInContainerSmall {
  margin-top: 50px;
  margin-right: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 400px;
  align-items: center;
  border-radius: 20px;
  border: solid white 1px;
}

/*
UserProfile
*/

.welcomeText {
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}

.pastOrdersContainer {
  width: 90%;
  height: auto;
  margin: 5px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.pastOrderHeader {
  display: flex;
  font-size: 20px;
  color:black;
  width: 100%;
}

.pastOrderSubHeader{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.favorite {
  height: 200px;
  width: 200px;
  border: solid white 1px;
  background-color: black;
  text-align: center;
}

/*
Sign In
*/

.signInContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

input {
  height: 2em;
  width: 20em;

}

.signInSubmit {
  width: 15em;
  height: 3em;
  color: white;
  background-color: lightseagreen;
  font-size: 1em;
}

.signUpForm {
  border-radius: 5px;
  background-color: #111111;
  padding: 20px;
  width: 350px;
  margin: 2em;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  height: 20rem;
  width: 25rem;
  padding: 1rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(22, 20, 20);
  color: beige;
  height: 3rem;
  width: 24rem;
  padding-left: 1rem;
}
